<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatrooms Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
</head>
<body>
    <div class="container mt-3">
        <h1>Chatrooms</h1>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="form-outline">
                        <input class="form-control" id="username">
                        <label class="form-label" for="username">Username</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-outline">
                        <input class="form-control" id="room-id">
                        <label class="form-label" for="room-id">Room ID</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-grid">
                    <button class="btn btn-primary mt-3" onclick="attemptToJoinRoom()" id="connect-btn">Connect</button>
                </div>
                <div class="col-md-6 d-grid">
                    <button class="btn btn-danger mt-3" onclick="attemptToLeaveRoom()" id="disconnect-btn" disabled>Disconnect</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-outline">
                        <textarea class="form-control" readonly rows="10" id="logs">Chatroom logs will appear here.&#013;</textarea>
                        <label class="form-label" for="logs">Chat Log</label>
                    </div>
                </div>
            </div>
        <div class="row mt-3">
            <div class="col-9">
                <div class="form-outline">
                    <input class="form-control" id="message" maxlength="256" data-mdb-showcounter="true" disabled>
                    <label class="form-label" for="message">Send a message...</label>
                    <div class="form-helper"></div>
                </div>
            </div>
            <div class="col-3 d-grid">
                <button class="btn btn-primary" id="send-btn" onclick="sendMessage()" disabled>Send</button>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chatrooms.js') }}"></script>
</html>